body {
  padding-top: 155px;
}

 .image {
  width: 200px;
}

.header {
  height: 150px;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 100;
}

.left-section {
  width: 150px;
  display: flex;
}

.scale-image {
  object-fit: contain;
  width: 240px;
}

.middle-section {
  flex: 1;
  background-image: linear-gradient(90deg,black,silver);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
}

.title {
  margin: 10px 0;
  font-weight: 700;
  font-size: 20px;
  color: white;
}

.right-section {
  background-color: silver;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wikipedia, .raiders-url {
  color: black;
  cursor: pointer;
}

.wikipedia {
  margin-bottom: 10px;
}

.wikipedia > a,
.raiders-url > a {
  text-decoration: none;
}

a {
  color: white;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
}

a:active {
  color: black;
}