* {
  font-family: Roboto, sans-serif;
}

body {
  padding-top: 155px;
  padding-left: 155px;
  height: 2000px;
  background-color: gray;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9rem;
  line-height: 20px;
}

h1 {
  display: flex;
  align-items: center;
  padding-left: 500px;
 }
 

.bold {
  font-weight: bold;
}

h2 {
  font-size: 1rem;
}

.padding-top {
  padding-top: 10px;
}

.libra-example-container,
.henry-container,
.favorite-container {
  padding: 15px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  width: 700px;
  align-items: center;
  margin-top: 15px;
}

.libra-example-image {
  width: 200px;
  padding-right: 15px;
}

li {
  font-size: 0.9rem;
}

.henry-image {
  width: 200px;
}

.henry-question-container {
  padding-left: 15px;
  margin-bottom: 15px;
}

.favorite-container {
flex-direction: column;
}

.submit-button {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  transition: opacity 0.15s;
  vertical-align: top;
}

.submit-button:hover {
  opacity: 0.8;
}

.submit-button:active {
  opacity: 0.5;
}

fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}